.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.header .header__title {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'Karla', sans-serif;
    color: var(--title-black);
}

.header .header__para {
    font-size: medium;
    max-width: 300px;
    color: var(--para-black);
    text-align: center;
}